.people-component .people-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.people-component .card-container {
  height: 200px;
  width: 30%;
}

.people-component .card-body ul {
  list-style: none;
}
