.film-component {
  display: flex;
  padding: 30px;
}

.film-component ul li {
  list-style: none;
}

.film-header {
  background-color: black;
  border-top: 1px solid red;
  border-bottom: 3px solid red;
  padding: 20px;
  color: red;
}

.film-component .film-info-list {
  width: 100%;
}

.film-component .film-info-list li {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.character-container .character-link {
  width: 20%;
}
