.film-component {
  display: flex;
}

.film-component ul li {
  list-style: none;
}

.film-header {
  background-color: lightgray;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.film-component .film-info-list {
  width: 100%;
}

.film-component .film-info-list li {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.character-container .character-link {
  width: 20%;
}
